extends layout

block content
    h2= title
    P= ActivityId
        |   Activity Id
    p= Count
        |   Count: 
    p= DateCompleted
        |   DateCompleted:
    p= createdAt
        |   Created at:
    p= updatedAt
        |   Updated at:
    
    div
        h3 Deleting an Activity for the list
        form(action="/api/activities/:id/delete", method="post")
            input.ActivityDonesId(name="ActivityId", value="#{ActivityId}", type="hidden")
            button.deleteActivity(type="submit") Delete
    
